$color-primary: #f7e7ce;

$color-dark-1: rgb(20, 20, 20);

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
} 

@import 'typography.scss';
@import './layout/navigation';
@import './layout/header';
@import './layout/services';
@import './layout/about';
@import './layout/gallery';
@import './layout/contact';

@import './components/card';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}